# Alexa Skills Kit CLI
.ask
ask-resources.json

# Visual Studio Code
.vscode

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
node_modules/

# Yarn
yarn-error.log
